.banner {
		background-image: linear-gradient(30deg,rgba(255,222,8,0.2),rgba(249,220,92,0.05)), url(../../images/couverture3.jpeg);
	}
	.banner {
		padding: 100px 130px
	}
	.banner {
		background-size: cover;
	}
	.banner{
		background-position: right center;
}

.banner h1{
	font-size: 62px
}

.banner h2{
		font-size: 25px
	}
	.banner h2{
		opacity: 0.6;
	}
	.banner h2{
		margin-bottom: 60px
}

@media (max-width: 760px) {
	.banner{
		width: 600px
	}
}

@media (max-width: 500px) {
	.banner{
		width: 400px
	}